body{
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.chat-header{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
.chat-content{
    background:linear-gradient(rgb(255, 54, 111), rgb(255, 179, 64));
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-footer {
    max-height: 30vh;
    display: flex;
}

.chat-input-field {
    max-height: 30vh;
    max-width: 85vw;
    overflow-y: auto;
    border: 2px solid grey;
    background-color: lightgray;
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
    flex-grow: 1;
}